<div class="header">
    <div class="head">
        <a href="/" class="head-brand"><span class="best">Best</span><span class="store">Store</span></a>
        <form action="" class="head-search">
            <input type="text" class="input-search" placeholder="Поиск...">
            <button type="submit" class="button-search"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>