<div class="navigation-menu">
    <div class="nav">
        <a href="/category/male" class="nav-item">
            <div class="nav-brand"><i class="fa fa-male"></i></div>
            <div class="nav-text">Мужская одежда</div>
        </a>
        <a href="/category/female" class="nav-item">
            <div class="nav-brand"><i class="fa fa-female"></i></div>
            <div class="nav-text">Женская одежда</div>
        </a>    
        <a href="/category/child" class="nav-item">
            <div class="nav-brand"><i class="fa fa-child"></i></div>
            <div class="nav-text">Детская одежда</div>
        </a>             
        <a href="/category/sales" class="nav-item">
            <div class="nav-brand"><i class="fa fa-ticket"></i></div>
            <div class="nav-text">Скидки</div>
        </a> 
    </div>
</div>

