{{> head }}
<body>
   <div class="container">
      {{#if admin}}
         {{> actions}} 
         {{{ body }}}
      {{else}}     
         {{> actions}}
         {{> header}} 
         {{> navbar}}
         {{{ body }}}
         {{> footer}}
      {{/if}}
   </div>
</body>
</html>