<select size="5" class="admin-select" id="product">
    <option disabled>Выберите продукт</option>    
    <option select value="0">Создать</option>
    {{#each products}}
    <option value="{{_id}}">{{productName}}</option>
    {{/each}}
</select>

<form method="POST" class="edit-product" action="/admin/panel/50454e4953">
    <p>imgUrl</p>
    <input type="text" name="imgUrl" id="imgUrl">
    <img src="" id="img" height="200px">
    <p>Product name</p>
    <input type="text" name="productName" id="name">
    <p>Category</p>
    <select name="category" id="category">
        <option value="1">male</option>
        <option value="2">female</option>
        <option value="3">child</option>
    </select>
    <p>Collection</p>
    <select name="coll" id="coll">
        <option value="1">Зимняя</option>
        <option value="2">Летняя</option>
        <option value="3">демисезон</option>
    </select>
    <p>Count</p>
    <input type="number" name="count" min="0" max="10000">
    <p>Price</p>
    <input type="number" name="price" min="0" max="100000">
    <button type="submit">Сохранить</button>
</form>

<script>
    $('#product').change(() => {
        if ($("#product").val() == 0) {
            
        }
    })
    $('#imgUrl').on('keyup input', () => {
        $('#img').attr("src", $('#imgUrl').val());
    })
</script>