<div class="main-content">
    <div class="slider" id="slider">
        <div class="slider-item">1</div>
        <div class="slider-item">2</div>
        <div class="slider-item">3</div>
        <div class="slider-item">4</div>
        <div class="slider-item">5</div>
    </div>
</div>  
<div class="store-options">
    <b>Опции</b><br>
    <p>Категория:</p>
    <u>Мужская одежда</u>
    <p>Показать:</p>
    <u>Обувь</u>
    <u>Футболки</u>
    <u>Штаны</u>
    <u>Акссесуары</u>

</div>
<div class="store-content">
    <div class="store-text">Товары: 6654</div>
    <div class="store-item"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
</div>

<script>
$('#slider').slick({
    dots: true,
    infinite: true,
    centerMode: true,
    variableWidth: true,
    slidesToShow: 4,
    slidesToScroll: 1
});
</script>
