<div class="main-content">
    <div class="slider" id="slider">
        <div class="slider-item"><img src="https://i.ibb.co/X35BNgb/image.png" alt="image" border="0"></div>
        <div class="slider-item"><img src="https://i.ibb.co/7gXVWzq/14253573-1-white.jpg" alt="14253573-1-white" border="0"></div>
        <div class="slider-item"><img src="https://i.ibb.co/ysDBdBc/11956893-1-zebra.jpg" alt="11956893-1-zebra" border="0"></div>
        <div class="slider-item"><img src="https://i.ibb.co/JvDyCVz/13861565-1-white.jpg" alt="13861565-1-white" border="0"></div>
        <div class="slider-item"><img src="https://i.ibb.co/FB7Tqw0/14935179-1-black.jpg" alt="14935179-1-black" border="0"></div>
        <div class="slider-item"><img src="https://i.ibb.co/xjsbRXC/12516619-1-fieldtan.jpg" alt="12516619-1-fieldtan" border="0"></div>
        <div class="slider-item"><img src="https://i.ibb.co/8sYMwXZ/13817701-1-silver.jpg" alt="13817701-1-silver" border="0"></div>
        <div class="slider-item"><img src="https://i.ibb.co/GTXLGt1/13967199-1-white.jpg" alt="13967199-1-white" border="0"></div>
        <div class="slider-item"><img src="https://i.ibb.co/w7xsqXV/12697443-1-white.jpg" alt="12697443-1-white" border="0"></div>
    </div>
</div>  
<div class="store-options">
    <b>Опции</b><br>
    <u>Не выбраны</u>
</div>
<div class="store-content">
    <div class="store-text">Товары: 6654</div>
    <div class="store-item"><img src="https://i.ibb.co/8sYMwXZ/13817701-1-silver.jpg" alt="13817701-1-silver" border="0"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
    <div class="store-item"></div>
</div>

<script>
$('#slider').slick({
    dots: true,
    autoplay: true,
    autoplaySpeed: 2000,
    infinite: true,
    centerMode: true,
    variableWidth: true,
    slidesToShow: 4,
    slidesToScroll: 1
});

</script>
